<h1>Report created on <%= @report.created_at.strftime("%B-%e-%Y") %></h1>
<h3>
  Status <%= @report.passed? ? "Passed" : "Failed" %>
</h3>
<ul>
  <% if @report.failed_stock_checks.exists? %>
    <li><b><%= @report.failed_stock_checks.size %></b> Failed</li> 
    <small>(Quantity of items scanned exceeds quantity in warehouse)</small> 
  <% end %>
  <% if @report.pending_stock_checks.exists? %>
    <li><b><%= @report.pending_stock_checks.size %></b> Pending</li>
    <small>(Quantity of items scanned is less than the quantity in warehouse)</small>
  <% end %>
  <% if @report.passed_stock_checks.exists? %>
    <li><b><%= @report.passed_stock_checks.size %></b> Passed</li>
  <% end %>
</ul>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Item code
    </th>
    <th>
      Quantity during stock check
    </th>
    <th>
      Quantity in the system
    </th>
    <th>
      Status
    </th>
  </tr>
  </thead>
  <tbody>
    <% @report.stock_checks.each do |check| %>
      <tr>
        <td>
          <%= check.item.code %>
        </td>
        <td>
          <%= check.quantity %>
        </td>
        <td>
          <%= check.item.quantity %>
        </td>
        <td>
          <%= check.state %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>