<h1>Report created on <%= @report.created_at.strftime("%B-%e-%Y") %></h1>
<h3>
  Status <%= @report.passed? ? "Passed" : "Failed" %>
</h3>
<%= render 'report_breakdown', report: @report %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Item code
    </th>
    <th>
      Quantity during stock check
    </th>
    <th>
      Quantity in the system
    </th>
    <th>
      Status
    </th>
  </tr>
  </thead>
  <tbody>
    <% @report.stock_checks.each do |check| %>
      <tr>
        <td>
          <%= check.item.try(:code) || check.code %>
        </td>
        <td>
          <%= check.quantity %>
        </td>
        <td>
          <%= check.item.try(:quantity) %>
        </td>
        <td>
          <%= check.human_state_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Delete report", stock_check_report_path(@report), method: :delete %>