<h1>Report created on <%= @report.created_at.strftime("%B-%e-%Y") %></h1>
<h3>
  Status <%= @report.passed? ? "Passed" : "Failed" %>
</h3>
<ul>
  <% if @report.failed_stock_checks.exists? %>
    <li><b><%= @report.failed_stock_checks.size %></b> Failed</li> 
    <small>(Quantity of items scanned exceeds quantity in warehouse)</small> 
  <% end %>
  <% if @report.pending_stock_checks.exists? %>
    <li><b><%= @report.pending_stock_checks.size %></b> Pending</li>
    <small>(Quantity of items scanned is less than the quantity in warehouse)</small>
  <% end %>
  <% if @report.passed_stock_checks.exists? %>
    <li><b><%= @report.passed_stock_checks.size %></b> Passed</li>
  <% end %>
  <% if @report.item_not_found_stock_checks.exists? %>
    <li><b><%= @report.item_not_found_stock_checks.size %></b> Item not found</li>
    <small>(Code was scanned but no item exists in the warehouse)</small>
<% end %>
</ul>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Item code
    </th>
    <th>
      Quantity during stock check
    </th>
    <th>
      Quantity in the system
    </th>
    <th>
      Status
    </th>
  </tr>
  </thead>
  <tbody>
    <% @report.stock_checks.each do |check| %>
      <tr>
        <td>
          <%= check.item.try(:code) || check.code %>
        </td>
        <td>
          <%= check.quantity %>
        </td>
        <td>
          <%= check.item.try(:quantity) %>
        </td>
        <td>
          <%= check.human_state_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Delete report", stock_check_report_path(@report), method: :delete %>